body {
    background-color: #ede6dd;
      font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body h1, body h2, body h3 {
        font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}





#menu {
    display: flex;
    align-items: center;
    padding: 5px;
    position: absolute;
    top:1px;
    width: 100%;
    left: 0;
    justify-content: space-between;
    z-index: 1;
}



#menu ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 40px;
    gap: 50px;
}

#menu a {
    color: black;
    text-decoration: none;
    padding: 10px;
    text-decoration: underline;
    text-underline-offset: 7px;
    color: #583022;
}

#menu a:hover {
    text-underline-offset: 15px;
}

.current-menu-item a{
    background-color: #e9d0a3;
    border-radius: 20px;
}

#menuLinks {
    margin-left: auto;
}

#smallMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#headerImg img {
    width: 100%;
    height: auto;
}

#headerDiv img {
    display: block;
    width: 100%;
    height: auto;
}

#headerDiv {
    position: relative;
}

#pageTitle {
text-align: center;
  font-size: 150%;
  color: #583022;
}

#pageTitleStart {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pageTitleStart h1 {
        text-align: center;
  font-size: 250%;
  color: #583022;
    font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
  border-right: 2px solid #583022;
    border-left: 2px solid #583022;
    padding: 10px;
    width: 40%;
    margin-top: 50px;
}




#pageTitle h1 {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
  border-bottom: 2px solid #583022;
  width: 60%;
  margin: 0 auto;
  padding: 20px;
}


#menu img {
    width: 150px;
    height: auto;
    opacity: 1;
    margin-left: 50px;
}

#aboutDiv img{
    width: 250px;
    height: auto;
    opacity: 1;
    margin: 0 auto;
    box-shadow: 5px 5px 0px #e9d0a3;

}

#aboutImg {
    padding: 20px;
    margin: 20px;
    border-right: 2px solid #e9d0a3;
    padding-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#aboutDiv {
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

#aboutText {
    text-align: left;
    margin: 50px;
    width: 100%;
    max-width: 600px;
  box-shadow: 5px 5px 0px #e9d0a3;
  text-align: center;
  padding: 25px;
}

#aboutText h2 {
    border-bottom: 2px solid #e9d0a3;
      font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
    font-size: 150%;
    text-align: center;
}

#aboutText p {
font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#aboutText a {
        color: #452519;
    text-decoration: none;
    padding: 10px;
    border: 2px solid #452519;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
    width: 150px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#aboutText a:hover {
    background-color: #452519;
    color: #ede6dd;
    border: 2px solid #e9d0a3
}

.oneProduct{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.oneProduct img {
    width: 250px !important;
    height: 350px !important;
    box-shadow: 5px 5px 0px #e9d0a3;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
}

.oneProduct p {
    text-align: center;
    margin-top: 5px;
    color: #e9d0a3;
    margin: 0 auto;
}

#productList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 700px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#productsDiv {
    background-color: #583022;
    padding: 20px;
    margin-top: 50px;
}

#productsDiv h2 {
    text-align: center;
      font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
  color: #e9d0a3;
  font-size: 190%;
  margin-bottom: 40px;
}

#productsDiv a {
    color: #e9d0a3;
    text-decoration: none;
    padding: 10px;
    border: 2px solid #e9d0a3;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
    width: 150px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

#productsDiv a:hover {
    color: #583022;
    background-color: #e9d0a3;
    border: 2px solid #452519;
}

#questions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:20px;
    color: #583022;
    width: 80%;
    margin: 0 auto;

}

#faq {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
        margin-top: 50px;
        background-color: #e9d0a3;
        padding-bottom: 50px;
        padding-top: 20px;
}

#faq h2 {
    text-align: center;
    color: #583022;
          font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 190%;
}

.oneQuestion {
    text-align: center;
}

.oneQuestion h3 {
    font-size: 160%;
}

footer {
    background-color: #e9d0a3;
    padding: 5px;
}

#footerMenu {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer nav ul{
    
    list-style-type: none;
}

footer nav a {
    text-decoration: none;
    color: #452519;
    list-style-type: none;
    text-align: left;
    margin-top: 2px;
}

footer nav a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

footer img {
    width: 100px;
    height: auto;
    padding: 10px;
    margin: 10px;
}

footer p {
    text-align: center;
    color: #5e4c2a;
}

#footerMenuLinks {
    text-align: left;
    border-left: 2px solid #452519;
    margin: 10px;
}

#news img {
    width: 150px;
    height: auto;
    padding-right: 20px;
    margin: 10px;
    border-right: 2px solid #452519;
}

#news h2{
    text-align: center;
              font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
  color: #583022;
  font-size: 190%;
}

.newsArticle {
display: flex;
width: 600px;
justify-content: center;
align-items: center;
box-shadow: 5px 5px 0px #583022;

margin: 0 auto;
margin-bottom: 40px;
}

.newsText {
    width: 100%;
}



.newsText h3 {
              font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
  color: #583022;
  font-size: 160%;
}

#news a,  #faq a{
        color: #583022;
    text-decoration: none;
    padding: 10px;
    border: 2px solid #583022;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
    width: 150px;
    text-align: center;
    margin-bottom: 40px;
}

#faq a {
    margin-top: 20px;
}

#news a:hover, #faq a:hover{
    background-color: #583022;
    color: #ede6dd;
}

/*Design för sidan "Kontakta mig"*/

/*Kontaktformulär*/
#contactInfo {
    background-color: #e9d0a3;
    border-radius: 20px;
    width: 500px;
    padding: 20px;
    margin: 20px;
    margin: 0 auto;
    margin-top: 30px;
    line-height: 30px;
}

#contactInfo h2 {
    font-size: 190%;
}

form input, form textarea {
    padding: 10px;
    
    border: none;
    width: 100%;
    background-color: #ede6dd;
    margin-bottom: 15px;
    margin-top: 5px;
    border-bottom: 2px solid #583022;
}

form textarea {
    height: 70px;
}



#contactForm {
    margin: 0 auto;
    width: 40%;
    margin-top: 50px;
}

form input[type=submit] {
    display: block;
    width: 100px;
    margin: 0 auto;
        color: #583022;
    text-decoration: none;
    padding: 10px;
    border: 2px solid #583022;
    border-radius: 30px;
    text-align: center;
    margin-bottom: 40px;
}

form input[type=submit]:hover {
        background-color: #583022;
    color: #ede6dd;
    cursor: pointer;
}

#contactForm h2 {
    font-size: 190%;
}

/*Design för sidan "Nyheter"*/

.lowerNews {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.lowerNews p {
    padding: 5px;
    margin-right: 10px;
}


#newsPage img {
    width: 150px;
    height: auto;
    padding-right: 20px;
    margin: 10px;
    border-right: 2px solid #452519;
}

#newsPage h2{
    text-align: center;
              font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
  color: #583022;
  font-size: 190%;
}

.newsPageArticle {
display: flex;
width: 600px;
justify-content: center;
align-items: center;
box-shadow: 5px 5px 0px #583022;

margin: 0 auto;
margin-bottom: 40px;
}

.newsPageText {
    width: 100%;
}

.newsPageText h3 {
              font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
  color: #583022;
  font-size: 160%;
}

#newsPage a {
    color: #583022;
    text-decoration: none;
    padding: 5px;
    border: 2px solid #583022;
    border-radius: 30px;
    display: block;
    width: 120px;
    text-align: center;
}

#newsPage a:hover {
    background-color: #583022;
    color: #ede6dd;
}




/*Design för sidan "Produkter"*/
#productListImg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}


#productsPage img {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: auto;
    box-shadow: 5px 5px 0px #e9d0a3;
}

#productList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.onePoster p {
    margin: 5px;
    color: #e9d0a3;
}

.cartBtn a {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #583022;
    background-color: #e9d0a3;
    border-radius: 20px;
    border: none;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 150px;
    text-decoration: none;
    margin-bottom: 10px;
}

.posterText {
    padding: 20px;
    text-align: center;
}

.onePoster {
    background-color: #583022;
    margin: 15px;
    padding: 20px;
}

#productsPage a:hover {
    background-color: #583022;
    color: #ede6dd;
}

#productsPage h2{
    text-align: center;
font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
  color: #583022;
  font-size: 190%;
}




/*Design av sidan för en produkt*/
.productInfo h2, .productInfo h3 {
    display: block;
    margin: 0 auto;
}

.productInfo {
    display: flex;
    justify-content: center;

}

.addToCart {
    margin-top: 40px;
    text-align: center;
}

.theProduct img {
    width: 250px;
    height: 350px;
    padding: 20px;
}

.theProductText {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    margin-left: 20px;
}

.theProductText h2, .theProductText h3 {
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 10px;
}


.theProduct a {
        padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #583022;
    background-color: #ede6dd;
    border-radius: 20px;
    border: none;
    display: block;
    margin: 0 auto;
    border: 2px solid #583022;
    margin-top: 5px;
    width: 80%;
    text-decoration: none;
}

.theProduct a:hover {
    cursor: pointer;
    background-color: #e9d0a3;
}

.productDescription {
    margin: 40px;
    background-color: #e9d0a3;
    border-radius: 20px;
    padding: 20px;
    width: 500px;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
}

/*Design för enskild nyhet*/
.theNews img {
    width: 150px;
    height: auto;
    margin: 20px;
    box-shadow: 5px 5px 0px #e9d0a3;
}

.theNews {
    display: flex;
    box-shadow: 5px 5px 0px #583022;
    margin: 30px;
    width: 800px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.theNews p {
    padding: 20px;
}

.newsDate {
    color: #704433;
}

/*Design för en enkel sida*/

#post, #cartPost, #checkoutPost {
    background-color: #e9d0a3;
    border-radius: 20px;
    padding: 30px;
    width: 600px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

#post a, #cartPost a, #checkoutPost a{
    text-decoration: none;
    color: #452519;
}

#post a:hover, #cartPost a:hover, #checkoutPost a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

#post button,  #checkoutPost button {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #583022;
    background-color: #ede6dd;
    border-radius: 20px;
    border: none;
    border: 2px solid #583022;
    margin-top: 5px;
    width: 150px;
    text-align: center;
}

#post button:hover,  #checkoutPost button:hover {
    background-color: #e9d0a3;
}

#checkoutPost h2, #checkoutPost h3 {
          font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*Design för menysymbol*/
#mobileMenu {
    display: none;
}

#menuLinks {
    display: block;
}

/*Design av notis*/
#notis {
    background-color: #e9d0a3;
    margin: 0 auto;
    width: 600px;
    border-radius: 20px;
    padding-top: 3px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    margin-top: 20px;
}

/*Design av sida med sidebar*/
.sidebarPageContent {
    display: flex;
    justify-content: center;
}

.sidebarPageText {
    width: 60%;
    margin: 20px;
}

.sidebar {
    background-color: #583022;
    color: #ede6dd;
    margin: 30px;
    border-radius: 20px;
    padding: 10px;
}

/*Design för sida med enskild nyhet*/
.theSingleNews {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.theSingleNews img {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
    box-shadow: 10px 10px 0px #e9d0a3;
}

.theSingleNews .newsText {
    width: 70%;
    display: block;
    margin: 0 auto;
}

.theSingleNews a {
    color: #452519;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.sidebarPageContent a{
color: #ede6dd;
}





/*Anpassningar till olika skärmstorlekar*/

@media (min-width: 851px) {
    #menuLinks {
        display: block !important;
    }
}

@media (max-width: 850px) {
    #mobileMenu {
        display: block;

    }

    #menuIcon {
        vertical-align: middle;
    
    }

    #menu {
        flex-direction: column;
        text-align: right;

    }

    #menu button {
        background-color: #ede6dd;
        border: 2px solid #583022;
        padding: 10px;
        border-radius: 10px;
        color: #583022;
        margin-right: 15px;
    }

    #menu button:hover {
        cursor: pointer;
        background-color: #583022;
        color: #ede6dd;
    }

        #menu ul{
        flex-direction: column;
        background-color: #e9d0a3;
        text-align: center;
        padding: 20px;
    }

    #menuLinks {
                display: none;
                margin-top: -25px;
                width: 50%;
                margin-right: -20px;
                
    }

    #pageTitleStart h1 {
        max-width: 800px;
        width: 80%;
    }

    #notis {
        max-width: 800px;
        width: 80%;
    }

#menu img {
    width: 20%;
}

#productList {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 40px;
}

.onePoster {
    max-width: 600px;
    width: 50%;
    margin: 0 auto;
}

.oneProduct img {
    width: 200px !important;
    height: 300px !important;
}

#aboutText {
    width: 80%;
    display: block;
    margin: 0 auto;
}

#questions {
    grid-template-columns: repeat(1, 1fr);
}

.newsArticle {
    max-width: 800px;
    width: 80%;
    padding: 20px;
}

.newsArticle img {
    display:none;
}

#contactInfo {
    max-width: 800px;
    width: 80%;
}

#contactForm {
    width: 60%;
}

.newsPageArticle {
    max-width: 800px;
    width: 80%;
}

.newsPageArticle img{
    max-width: 120px;
    height: auto;
    margin: 20px;
}

#cartPost, #checkoutPost {
    max-width: 800px;
    width: 80%;
}

.theProduct {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
}

.productDescription {
    max-width: 800px;
    width: 80%;
}

.productInfo {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addToCart {
    margin-bottom: 30px;
    margin-top: 10px;
}

.theSingleNews {
    max-width: 800px;
    width: 90%;
}

#post {
    max-width: 800px;
    width: 80%;
}










}

@media (max-width: 700px) {
.newsPageArticle img{
    display:none;
}
}


/*Anpassningar till stora skärmar*/
@media (min-width: 1800px) {
/*Startsida*/

#menu a{
    font-size: 160%;
}

#menu img {
    width: 250px;
}

#notis {
    width: 700px;
    font-size: 140%;
}

#pageTitleStart {
    font-size: 150%;
}

#productsDiv h2 {
    font-size: 270% !important;
}

.oneProduct img{
    width: 350px !important;
    height: 480px !important;
    margin: 30px;
}

.oneProduct p {
    font-size: 140%;
}

#productsDiv a {
    font-size: 140%;
    width: 240px;
}

#aboutDiv img {
    width: 350px;
}

#aboutText {
    max-width: 800px;
}

#aboutText p {
    font-size: 120%;
}

#aboutText h2 {
    font-size: 220%;
}

#aboutText a {
    font-size: 120%;
}

#faq {
    max-width: 1400px;
}

#faq h2 {
    font-size: 220%;
}

#faq h3 {
    font-size: 200%;
}

#faq p {
    font-size: 120%;
}

#faq a {
    font-size: 120%;
}

.oneQuestion {
    margin: 20px;
}

.newsArticle {
    width: 900px;
}

#news h2 {
    font-size: 220%;
}

.newsArticle h3 {
    font-size: 200%;
}

.newsArticle p {
    font-size: 120%;
}

#news img {
    width: 200px;
}

#news a {
    font-size: 120%;
}

footer a {
    font-size: 130%;
}

footer img {
    width: 150px;
}

/*Sida med kontaktinformation*/
#pageTitle {
    font-size: 200%;
}

#contactInfo {
    width: 650px;
}

#contactInfo h2 {
    font-size: 220%;
}

#contactInfo p {
    font-size: 120%;
}

#contactInfo a {
    color: #452519;
    text-decoration: underline;
    text-underline-offset: 5px;
}

#contactForm {
    width: 35%;
}

#contactForm h2 {
    font-size: 220%;
}

#contactForm label {
    font-size: 120%;
}

form input[type=submit] {
    font-size: 120%;
}

/*Nyhetssidan*/

.newsPageArticle {
    width: 900px;
}

#newsPage h2 {
    font-size: 220%;
}

.newsPageArticle h3 {
    font-size: 200%;
}

.newsPageArticle p {
    font-size: 120%;
}

.newsPageArticle img {
    width: 200px;
}

#newsPage a {
    font-size: 120%;
}

#productList {
    max-width: 1000px;
}

.productListImg img {
    width: 300px !important;
    height: 400px !important;
}

.posterText p {
    font-size: 120%;
}

#productList {
    margin-bottom: 40px;
}

#cartPost h2 {
    font-size: 220%;
    line-height: 50px;
}

#cartPost, #checkoutPost {
    font-size: 120%;
}

#cartPost, #checkoutPost a {
    font-size: 120%;
}

#cartPost, #checkoutPost input {
    font-size: 90%;
}

#cartPost, #checkoutPost span {
    font-size: 115%;
}

#cartPost, #checkoutPost img {
    width: 100px;
}

#cartPost {
    width: 750px;
}

#checkoutPost {
    width: 900px;
}

#checkoutPost button {
    font-size: 120%;
}

#checkoutPost {
    margin-top: 40px;
    margin-bottom: 40px;
}

#checkoutPost h2 {
    font-size: 150%;
}

.theSingleNews .newsText {
    width: 80%;

}

.theSingleNews p {
    font-size: 140%;
}

.theSingleNews {
    width: 900px;
}

.theSingleNews img {
    width: 300px;
    height: auto;
}

.theProductText h2 {
    font-size: 220%;
}

.theProductText p {
    font-size: 120%;
}

.productInfo img {
    width: 300px;
    height: auto;
}

.productDescription {
    width: 700px;
    font-size: 120%;
}

.addToCart {
    margin: 0 auto;
    width: 80%;
    margin-top: 40px;
}

.sidebarPageText h2 {
    font-size: 220%;
}

.sidebarPageText p {
    font-size: 120%;
}

.sidebarPageText {
    width: 800px;
}

#post h2 {
    font-size: 220%;
}

#post p {
    font-size: 120%;
}

#post {
    width: 900px;
}

}

/*Anpassningar till små skärmar*/
@media (max-width: 1100px) {


#aboutDiv {
    flex-direction: column;
}

#aboutDiv img {
    box-shadow: 10px 10px 0px #e9d0a3;
}

#aboutImg {
    border: none;
    margin-bottom: 0px;
}


}

@media (max-width: 1080px) {
.sidebarPageContent {
flex-direction: column;
justify-content: center;
align-items: center;

}

.sidebarPageText {
    max-width: 800px;
width: 80%;
}

.sidebar {
    max-width: 800px;
width: 80%;
}

}

@media (min-width: 1700px) {
.sidebarPageText {
max-width: 1000px;
width: 60%;
margin-right: 30px;
}

.sidebar {
max-width: 200px;
width: 60%;
margin-left: 20px;
}
}


